@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Open+Sans:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #121212;
    color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    overflow: hidden; /* Prevent scrolling when modal is open */
}

.header {
    background-color: #1e1e1e;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.header h1 {
    margin: 0;
    color: #ffffff;
}

#board-controls {
    display: flex;
    align-items: center;
    gap: 10px;
}

#board-controls span {
    font-size: 1.2em;
    font-weight: bold;
}

#board-controls button {
    padding: 10px 20px;
    border: none;
    background-color: #28a745;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

#board-controls button:hover {
    background-color: #218838;
}

#group-form {
    display: flex;
    gap: 10px;
}

#group-form input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #2e2e2e;
    color: #ffffff;
    outline: none;
}

#group-form button {
    padding: 10px 20px;
    border: none;
    background-color: #28a745;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

#group-form button:hover {
    background-color: #218838;
}

.container {
    flex: 1;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    overflow-y: auto;
    box-sizing: border-box;
    position: relative;
}

.group {
    background: #2e2e2e;
    padding: 10px;
    border-radius: 8px;
    min-width: 300px;
    min-height: 100px;
    width: calc(33.333% - 20px);
    position: relative;
    user-select: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 1; /* Default z-index for non-active groups */
}

.group.active {
    z-index: 10; /* Higher z-index for active group */
}

.group .resize-handle {
    position: absolute;
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 50%;
    right: 0;
    bottom: 0;
    cursor: se-resize;
}

.group h2 {
    margin-top: 0;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.group h2 .group-controls {
    display: flex;
    gap: 5px;
}

.group h2 .group-controls i {
    cursor: pointer;
    font-size: .7em;
    padding: 5px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.group h2 .group-controls i:hover {
    background-color: #555;
}

.group form {
    display: none;
    margin-top: 10px;
    gap: 10px;
    flex-wrap: wrap;
}

.group.active form {
    display: flex;
}

.group .command-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #3e3e3e;
    color: #ffffff;
    outline: none;
}

.group .command-form button {
    padding: 10px 20px;
    border: none;
    background-color: #28a745;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.group .command-form button:hover {
    background-color: #218838;
}

.command {
    background: #3e3e3e;
    color: white;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer; /* Make the entire command box clickable */
    transition: background-color 0.3s ease;
    position: relative;
}

.command:hover {
    background-color: #505050; /* Change background color on hover */
}

.copied-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    padding: 10px;
    border-radius: 4px;
    font-size: 14px;
    pointer-events: none; /* Prevents message from blocking interactions */
    z-index: 10;
}

.blur-effect {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 5; /* Ensure it is below the copied message */
}

/* Modal styling */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(5px);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #2e2e2e;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 400px;
    max-width: 90%;
    border-radius: 8px;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.modal-content h2 {
    margin-top: 0;
    color: #ffffff;
}

.modal-content input,
.modal-content textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #3e3e3e;
    color: #ffffff;
    outline: none;
    box-sizing: border-box; /* Ensures consistent padding and border box model */
}

.modal-content textarea {
    height: 100px;
    resize: vertical; /* Allow vertical resizing */
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
}

.modal-buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.modal-buttons #save-command {
    background-color: #28a745;
    color: white;
}

.modal-buttons #save-command:hover {
    background-color: #218838;
}

.modal-buttons #close-modal,
.modal-buttons #close-edit-command-modal,
.modal-buttons #delete-command {
    background-color: #dc3545;
    color: white;
}

.modal-buttons #close-modal:hover,
.modal-buttons #close-edit-command-modal:hover,
.modal-buttons #delete-command:hover {
    background-color: #c82333;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.command-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.command-list.list-view {
    flex-direction: column;
}

ul.command-list {
    padding-inline-start: 10px;
}
/* 
.add-command-btn  {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #28a745;
    color: white;
}


.add-command-btn:hover {
    background-color: #218838;
} */

i.fas.fa-solid.fa-pen.edit-command-btn {
    padding-left: 10px;
}

.color-picker-container {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.color-picker-container label {
    font-size: 14px;
    color: #ffffff;
}
